body {
    background-color: black;
    margin: 0;
}

div {
    color: ghostwhite
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100vh;
}

.extra-zone {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: grid;
}

.game {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
}

.op-hand {}

.op-side-1 {}

.op-side-2 {}

.my-side {}

.board-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-board {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card-board>.card-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-hand {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card-hand.active {
    border: 2px solid lightgreen;
}

.card-hand.active:hover {
    background-color: grey;
}

.card-hand.active:hover {
    background-color: grey;
}

.card-slot {
    border: 1px solid grey;
    margin: 5px;
}

.card-slot.active {
    border: 2px solid lightgreen;
}

.card-slot.active.hover {
    background-color: grey;
}

.card-title {
    text-align: center;
    border: 1px solid grey;
}

.card-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid grey;
}

.hp-val {
    padding-right: 10px;
    text-align: right;
    border: 1px solid grey;
}

.attack-val {
    padding-left: 10px;
    text-align: left;
    border: 1px solid grey;
}

.my-hand {
    display: grid;
    border: 1px solid grey;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hand-slot {
    border: 1px solid grey;
    margin: 2px;
}

.hand-slot.active {
    border: 2px solid lightgreen;
}

.hand-slot.active.hover {
    background-color: grey;
}

.endTurnButton {
    text-align: center;
    border: 1px solid gray;
}

.endTurnButton.active:hover {
    background-color: grey;
}

.gameEventLog {
    overflow: scroll;
}

div {
    /* Disable user text selection everywhere by default */
    user-select: none;
}